/* Cách ĐN animation như vậy sẽ chỉ được chạy 1 lần duy nhất
Vì class css keyframe ko được render lại khi state thay đổi mà chỉ có url, name, desc ...
? hack bằng cách add class css vào state
-> ko được vì cùng 1 tên class, 
-> browser sẽ tự hiểu là ko có thay đổi và ko chạy lại 
-> bắt buộc fix bằng setDateTime để tạo class ani mới
 */

 /**
 Fix 1 : dùng cass start with glassesStyle ^ luôn + date
 tuy nhiên rất nguy hiểm
 Ko thể đặt glassesStyle-modified được nữa
 Cách fix 2 -> React jsx sẽ tận dụng Datenow
 Vừa đổi tham số trong style.animation vừa đổi tên animation
 Vì cùng là date now nên cả 2 sẽ cùng 1 số dc gen ra
 ko thể viết bằng css thuần được
 */
@keyframes animChangeGlasses {
  from {
    width: 0;
    transform: rotate(45deg);
    opacity: 0;
  }
  to {
    width: 150px;
    opacity: 0.7;
    transform: rotate(0deg);
  }
}

.glassesStyle{
    width: 250px;
    animation: animChangeGlasses 1s;
}