@font-face {
  font-family: 'fontGame';
  src: url('font/Pony.ttf');
}

/* Helmet dùng file này
url đường dẫn tuyệt đối
*/
.game {
  /* background-image: url('assets/bgGame.png'); */
  /* Vì dụng react-helmet nên ko sao */
  background-image: url('/img/gameXucXac/bgGame.png');
  width: 100%;
  height: 100%;
  /* position: relative; */
  font-family: fontGame;
  overflow: hidden;
}

.btnGame {
  width: 200px;
  height: 200px;
  font-size: 50px;
  background-color: rgb(82, 108, 238);
  color: #ffffff;
  border: none;
  border: 5px solid rgb(82, 238, 98);
  border-radius: 10px;
}

.text-debug{
  font-size: 1.5rem;
}